@import '~src/theme/bootstrap/variables';

.bg-ultra-light {
  background: gray('100');
}

.big-icon {
  font-size: 140px;
}

.wrapper {
  min-height: 400px;
}

.content {
  max-width: 330px;
}

.header {
  font-size: 2.2rem;
  font-weight: 200;
  line-height: 2.7rem;
}
