<section class="d-flex flex-column minh-100 bg-ultra-light">
  <div class="m-auto text-center content container py-3">
    <ion-icon name="contacts" class="big-icon text-primary"></ion-icon>
    <div class="header">
      {{ "Why wouldn't you just meet them?" | translate }}
    </div>
    <p class="mt-3 mb-4">
      {{
        "It's time to specify your meeting preferences. You are one step away from changing your evening!"
          | translate
      }}
    </p>
    <button routerLink="/app/meeting/edit" class="btn btn-outline-primary px-4">
      {{ 'Add preferences' | translate }}
    </button>
  </div>
</section>
