@import '~src/theme/bootstrap/variables';

:host {
  height: 100%;
}

.bg-ultra-light {
  background: gray('100');
}

.header {
  font-size: 2.2rem;
  font-weight: 200;
  max-width: 330px;

  .header-icon {
    color: theme-color('danger');
    margin-bottom: -7px;
  }
}

.chat-icon {
  font-size: 24px;
}

.chat-icon {
  font-size: 24px;
}
