@import '~src/theme/bootstrap/variables';

:host {
  height: 100%;
}

.bg-ultra-light {
  background: gray('100');
}

.header {
  font-size: 2.2rem;
  font-weight: 200;

  .header-icon {
    color: theme-color('danger');
    margin-bottom: -7px;
  }
}

.image {
  background-size: cover;
  background-color: theme-color('light');
  width: 50px;
  height: 50px;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.min-width {
  min-width: 0;
}
