<div class="d-flex flex-column minh-100 flex-column">
  <app-connection></app-connection>
  <section class="drink d-flex flex-grow-1 bg-ultra-light py-3">
    <div class="my-auto w-100 text-center header container">
      {{ meeting.drink.name | translate }}
      <ion-icon name="heart" class="header-icon"></ion-icon>
    </div>
  </section>
  <section class="info">
    <div class="d-flex text-center border-bottom border-top">
      <div class="w-50 py-2 border-right">
        <div class="font-weight-bold">{{ 'Date' | translate }}</div>
        <div>{{ meeting.date | date: 'dd.MM.yyyy' }}</div>
      </div>
      <div *ngIf="!loadingLocation && location; else loading" class="py-2 w-50">
        <div class="font-weight-bold">{{ 'City' | translate }}</div>
        <div>{{ location.city }}</div>
      </div>
      <ng-template #loading>
        <div class="p-2 w-50 loading">
          <div class="font-weight-bold">{{ 'City' | translate }}</div>
          <div class="load d-inline-block">placeholder</div>
        </div>
      </ng-template>
    </div>
  </section>
  <section class="users">
    <app-profile
      *ngFor="let user of filteredMeetingUsers"
      [user]="user"
      (openDetails)="openDetails($event)"
    ></app-profile>
    <app-profile-loading
      *ngFor="let user of missingMeetingUsers"
    ></app-profile-loading>
  </section>
  <section class="more">
    <div class="container py-2">
      <button (click)="showMessages()" class="btn btn-primary btn-block">
        {{ 'Group chat' | translate }}
        <span
          *ngIf="messagesToRead > 0"
          [innerHTML]="
            messagesToRead < 20 ? '(' + messagesToRead + ')' : '(20+)'
          "
        ></span>
        <ion-icon
          name="chatbubbles"
          class="ml-1 chat-icon align-middle"
        ></ion-icon>
      </button>
      <button (click)="leaveGroup()" class="btn btn-outline-primary btn-block">
        {{ 'Leave group' | translate }}
      </button>
    </div>
  </section>
</div>

<ng-template #details>
  <app-modal (confirm)="confirmDetails()">
    <app-profile-details [user]="userForModal"></app-profile-details>
  </app-modal>
</ng-template>

<ng-template #alert>
  <app-alert
    (confirm)="confirmAlert()"
    [confirmLoading]="loadingLeave"
    (decline)="declineAlert()"
    [title]="'Are you sure?' | translate"
  ></app-alert>
</ng-template>
