<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Blocked users' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="blocked content minh-100 bg-ultra-light">
    <div class="label text-muted">{{ 'Users you ignore' | translate }}</div>
    <ng-container *ngIf="!loadingBlocked; else loading">
      <ng-container *ngIf="blockedUsers$ | async as blockedUsers">
        <div
          *ngIf="blockedUsers.length > 0; else emptyList"
          class="bg-white border-top"
        >
          <app-blocked-profile-preview
            *ngFor="let user of blockedUsers"
            [user]="user"
            (openDetails)="openDetails($event)"
          ></app-blocked-profile-preview>
          <div class="container">
            <button
              *ngIf="blockedUsers.length % 10 === 0 && !allBlockedLoaded"
              [disabled]="loadingBlockedMore"
              type="button"
              (click)="loadMoreBlockedUsers()"
              class="btn btn-primary btn-block my-3"
            >
              {{ 'Load more' | translate }}
            </button>
          </div>
        </div>
        <ng-template #emptyList>
          <div class="mb-3 text-center">
            <div class="border-top border-bottom text-center p-3 bg-white">
              <p>
                {{ 'Your blocked users list is empty.' | translate }}
              </p>
              <p class="mb-0">
                {{
                  'If you found someone annoying you can always block him from meeting. Just tap on profile and use appropriate button.'
                    | translate
                }}
              </p>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </ng-container>
    <ng-template #loading>
      <div class="text-center py-3">
        <ion-spinner></ion-spinner>
      </div>
    </ng-template>
  </div>
</ion-content>
