<ion-content>
  <div class="container d-flex flex-column h-100">
    <div class="m-auto"><div class="logo my-2">skelvy</div></div>
    <div>
      <button class="btn btn-block btn-facebook">
        {{ 'Continue with Facebook' | translate }}
      </button>
      <button class="btn btn-block btn-google">
        {{ 'Continue with Google' | translate }}
      </button>
      <div class="terms text-center my-3">
        <a (click)="showIframe(iframe)">{{ 'Terms of service' | translate }}</a> and
        <a href="#">{{ 'Privacy policy' | translate }}</a>
      </div>
    </div>
  </div>
</ion-content>

<ng-template #iframe>
  <app-iframe
    url="https://rafalschmidt.com/drinker_website/legal/privacy-policy/"
    [title]="'Example website' | translate"
    (decline)="declineIframe()"
  >
  </app-iframe>
</ng-template>
