<ion-content>
  <div class="container d-flex flex-column h-100">
    <div class="m-auto">
      <div class="logo my-2" routerLink="/tabs">skelvy</div>
    </div>
    <div>
      <button class="btn btn-block btn-facebook">
        <i class="fab fa-facebook-f mr-2"></i>
        <span>{{ 'Continue with Facebook' | translate }}</span>
      </button>
      <button class="btn btn-block btn-google">
        <i class="fab fa-google mr-2"></i>
        <span>{{ 'Continue with Google' | translate }}</span>
      </button>
      <div class="terms text-center my-3">
        <a
          (click)="
            show(
              'https://rafalschmidt.com/drinker_website/legal/terms-of-service/',
              'Terms of service'
            )
          "
        >
          {{ 'Terms of service' | translate }}
        </a>
        and
        <a
          (click)="
            show(
              'https://rafalschmidt.com/drinker_website/legal/privacy-policy/',
              'Privacy policy'
            )
          "
        >
          {{ 'Privacy policy' | translate }}
        </a>
      </div>
    </div>
  </div>
</ion-content>

<ng-template #iframe>
  <app-iframe
    [url]="url"
    [title]="title | translate"
    (decline)="decline()"
  ></app-iframe>
</ng-template>
