<div class="person" [routerLink]="['/app/meetings/details', meeting.id]">
  <div
    class="container d-flex align-items-center"
    [class.two]="group.users.length === 2"
    [class.three]="group.users.length === 3"
    [class.more]="group.users.length > 3"
  >
    <div class="flex-shrink-0 image-container">
      <div
        *ngFor="let user of getFirstUsers(group.users)"
        class="image rounded-circle"
        [style.background-image]="'url(' + user.profile.photos[0]?.url + ')'"
      ></div>
    </div>
    <div class="min-width mx-3">
      <div *ngIf="group.name">
        <span class="font-weight-bold text-primary">
          {{ group.name }}
        </span>
      </div>
      <div>
        <span class="font-weight-bold">{{ 'Date' | translate }}</span
        >: {{ meeting.date | date: 'dd.MM.yyyy' }}
      </div>
      <div>
        <span class="font-weight-bold">{{ 'City' | translate }}</span
        >: {{ meeting.city }}
      </div>
      <div *ngIf="!meeting.isHidden">
        <span class="font-weight-bold">{{ 'People' | translate }}</span
        >:
        {{ group.users.length }}
        /
        {{ meeting.size }}
      </div>
      <div>
        <span class="font-weight-bold">{{ 'Activity' | translate }}</span
        >: {{ meeting.activity.name | translate }}
      </div>
    </div>
    <div
      class="icon text-primary ml-auto align-self-stretch px-3 d-flex align-items-center"
    >
      <ion-icon name="arrow-forward-outline" class="d-block"></ion-icon>
    </div>
  </div>
</div>
