<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/meeting"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Chat' | translate }}</ion-title>
    <ion-buttons *ngIf="($meetings | async).loading" slot="end">
      <ion-button [disabled]="true">
        <ion-spinner color="dark" class="small-spinner"></ion-spinner>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <div class="d-flex flex-column h-100 safe-area-b">
    <ng-container *ngIf="$meetings | async as meeting">
      <app-connection [hasBackground]="true"></app-connection>
      <app-messages
        *ngIf="meeting.meetingModel?.messages.length > 0; else empty"
        [messages]="meeting.meetingModel.messages"
        [meeting]="meeting.meetingModel.meeting"
        [user]="(user$ | async).user"
      ></app-messages>
      <ng-template #empty>
        <app-empty></app-empty>
      </ng-template>
      <app-message-form></app-message-form>
    </ng-container>
  </div>
</ion-content>
