<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/app/tabs/meeting"
        [text]="'Back' | translate"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Chat' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <div class="d-flex flex-column h-100 safe-area-b">
    <ng-container *ngIf="(meeting$ | async) as meetingModel">
      <ng-container *ngIf="(chat$ | async) as chatModel">
        <app-messages
          *ngIf="chatModel.messages?.length > 0; else empty"
          [messages]="chatModel.messages"
          [meeting]="meetingModel.meeting"
          [user]="user$ | async"
        ></app-messages>
        <ng-template #empty>
          <app-empty></app-empty>
        </ng-template>
        <app-message-form
          (sendMessage)="sendMessage($event)"
        ></app-message-form>
      </ng-container>
    </ng-container>
  </div>
</ion-content>
