<ng-container *ngIf="connection$ | async as connection">
  <div
    class="connection"
    *ngIf="
      connection === connectedStatus.RECONNECTING ||
      connection === connectedStatus.DISCONNECTED
    "
  >
    <ng-container [ngSwitch]="connection">
      <div
        *ngSwitchCase="connectedStatus.CONNECTING"
        class="text font-weight-bold text-center"
      >
        {{ 'Connecting...' | translate }}
      </div>
      <div
        *ngSwitchCase="connectedStatus.CONNECTED"
        class="text font-weight-bold text-center"
      >
        {{ 'Connected' | translate }}
      </div>
      <div
        *ngSwitchCase="connectedStatus.RECONNECTING"
        class="text font-weight-bold  text-center"
      >
        {{ 'Reconnecting...' | translate }}
      </div>
      <div
        *ngSwitchCase="connectedStatus.DISCONNECTED"
        class="text text-danger font-weight-bold text-center"
      >
        {{ 'Waiting to reconnect...' | translate }}
      </div>
    </ng-container>
  </div>
</ng-container>
