<ng-container
  *ngIf="
    suggestions &&
    (suggestions.meetingRequests.length > 0 || suggestions.meetings.length > 0)
  "
>
  <label [class.d-none]="!inForm" [innerText]="'Suggestions' | translate">
  </label>
  <div
    class="suggestions bg-primary"
    [class.disabled]="isLoading"
    [class.form]="inForm"
  >
    <div
      class="meetings"
      *ngIf="suggestions.meetings.length > 0"
      [class.has-sibling]="suggestions.meetingRequests.length > 0"
    >
      <label
        [innerText]="'Near meetings to join' | translate"
        class="text-white"
      ></label>
      <div
        *ngFor="let meeting of suggestions.meetings"
        class="d-flex align-items-center bg-white mb-1 item"
      >
        <div class="py-2 pl-2" (click)="openMeetingDetails(meeting)">
          <div>
            <span class="font-weight-bold">{{ 'Date' | translate }}</span
            >: {{ meeting.date | date: 'dd.MM.yyyy' }}
          </div>
          <div>
            <span class="font-weight-bold">{{ 'City' | translate }}</span
            >: {{ meeting.city }}
          </div>
          <div>
            <span class="font-weight-bold">{{ 'People' | translate }}</span
            >: {{ meeting.users.length }}
          </div>
          <div>
            <span class="font-weight-bold">{{ 'Drink' | translate }}</span
            >: {{ meeting.drinkType.name | translate }}
          </div>
        </div>
        <div
          class="join text-primary ml-auto align-self-stretch d-flex align-items-center px-3"
          [innerText]="'join' | translate"
          (click)="join.emit(meeting.id)"
        ></div>
      </div>
    </div>
    <div class="requests" *ngIf="suggestions.meetingRequests.length > 0">
      <label
        [innerText]="'Near requests to connect' | translate"
        class="text-white"
      ></label>
      <div
        *ngFor="let request of suggestions.meetingRequests"
        class="d-flex align-items-center bg-white mb-1 item"
      >
        <div class="py-2 pl-2" (click)="openRequestDetails(request)">
          <div>
            <span class="font-weight-bold">{{ 'Date' | translate }}</span
            >: {{ getDate(request.minDate, request.maxDate) }}
          </div>
          <div>
            <span class="font-weight-bold">{{ 'City' | translate }}</span
            >: {{ request.city }}
          </div>
          <div>
            <span class="font-weight-bold">{{ 'Drinks' | translate }}</span
            >:
            <ng-container
              *ngFor="let drink of request.drinkTypes; let i = index"
            >
              <span class="d-inline-block">{{ drink.name | translate }}</span>
              <span *ngIf="i !== request.drinkTypes.length - 1">, </span>
            </ng-container>
          </div>
        </div>
        <div
          class="join text-primary ml-auto align-self-stretch d-flex align-items-center px-3"
          [innerText]="'connect' | translate"
          (click)="connect.emit(request.id)"
        ></div>
      </div>
    </div>
    <div class="information text-white">
      {{ 'Suggestions are based on your selected address.' | translate }}
    </div>
  </div>
</ng-container>
