<div
  (click)="select.emit(result)"
  class="result border-top border-bottom py-2 px-3 d-flex align-items-center"
>
  <div class="min-width description">
    <div *ngIf="result.type && !isNotCity(result.type) && result.city">
      {{ 'City' | translate }}: {{ result.city }}
    </div>
    <div *ngIf="result.type && isNotCity(result.type) && result.city">
      {{ 'Village' | translate }}: {{ result.city }}
    </div>
    <div *ngIf="result.state">
      {{ 'State' | translate }}: {{ result.state }}
    </div>
    <div *ngIf="result.district && result.district !== result.city">
      {{ 'District' | translate }}: {{ result.district }}
    </div>
    <div *ngIf="result.country">
      {{ 'Country' | translate }}: {{ result.country }}
    </div>
  </div>
  <div class="text-primary ml-auto">
    <ion-icon name="arrow-forward-outline" class="d-block"></ion-icon>
  </div>
</div>
