<div class="message-container d-flex" [class.mb-3]="isLast">
  <div
    *ngIf="isLast"
    class="image rounded-circle flex-shrink-0 pointer"
    [class.image-first-last]="isLast && isFirst"
  ></div>
  <div class="flex-fill" [class.message-continuation]="!isLast">
    <div *ngIf="isFirst" class="name">
      {{ 'Anonymous' | translate }}
    </div>
    <div class="message mr-auto">
      <div (click)="toggleDate()" class="text pointer">
        <div>{{ message.message }}</div>
        <div
          *ngIf="isDateShown"
          class="date"
          [innerHTML]="message.date | date: 'HH:mm'"
        ></div>
      </div>
    </div>
  </div>
</div>
