<div class="message-container d-flex">
  <div class="flex-fill">
    <div
      class="message mine d-flex flex-column ml-auto"
      [class.sending]="message.sending"
      [class.photo-with-text]="message.text && message.attachmentUrl"
    >
      <img
        *ngIf="message.attachmentUrl"
        (click)="preview()"
        [src]="message.attachmentUrl"
        class="photo ml-auto"
        alt="photo"
      />
      <div
        *ngIf="message.text"
        (click)="toggleDate()"
        class="text bg-primary text-white ml-auto"
        [class.bg-danger]="message.failed"
        [class.emoji]="isOnlyEmoji"
        [innerText]="message.text"
      ></div>
      <div
        *ngIf="isDateShown"
        class="date text-right"
        [innerHTML]="message.date | date: 'HH:mm'"
      ></div>
      <div *ngIf="message.failed" class="ml-auto d-flex">
        <div
          (click)="actions()"
          class="action text-danger"
          [innerHTML]="'Tap to retry or remove' | translate"
        ></div>
      </div>
    </div>
  </div>
</div>
