@import '~src/theme/bootstrap/variables';

.message-container {
  margin-bottom: 4px;
  text-align: left;
}

.message {
  max-width: 80%;
  user-select: none;

  .text {
    background-color: gray('100');
    border-radius: 1rem;
    padding: 5px 12px;
    display: inline-block;
    white-space: pre-line;

    &.emoji {
      background-color: transparent !important;
      font-size: 35px;
      padding: 2px 6px;
      line-height: 38px;

      .date {
        margin-top: -10px;
      }
    }
  }

  .photo {
    border-radius: 8px;
    width: auto;
    height: auto;
    max-height: 300px;
    max-width: 100%;
    overflow: hidden;
  }

  &.photo-with-text {
    .photo {
      padding-bottom: 2px;
    }

    &.mine {
      .text {
        border-top-right-radius: 0;
      }

      .photo {
        border-bottom-right-radius: 0;
      }
    }

    &:not(.mine) {
      .text {
        border-top-left-radius: 0;
      }

      .photo {
        border-bottom-left-radius: 0;
      }
    }
  }

  .date {
    padding: 0 6px;
    font-size: 12px;
  }

  .action {
    font-size: 10px;
  }

  &.sending {
    .text:not(.emoji) {
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: move-gradient;
      animation-timing-function: linear;
      background: lighten($primary, 10%) !important;
      background: linear-gradient(
        to right,
        lighten($primary, 10%) 8%,
        lighten($primary, 5%) 18%,
        lighten($primary, 10%) 33%
      ) !important;
      background-size: 1000px 1000px !important;
    }

    .text.emoji {
      opacity: 0.6;
    }

    .photo {
      opacity: 0.6;
    }
  }
}

@keyframes move-gradient {
  0% {
    background-position: -500px 0;
  }

  100% {
    background-position: 500px 0;
  }
}
