<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [disabled]="isLoading || form.invalid" (click)="onSubmit()">
        {{ 'Done' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Language' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content minh-100 bg-ultra-light py-3">
    <app-form [form]="form" [isLoading]="isLoading">
      <div class="label text-muted">{{ 'Push notifications' | translate }}</div>
      <div class="btn btn-settings">
        {{ 'Global' | translate }}
        <app-switch class="ml-auto" name="all"></app-switch>
      </div>
      <div class="btn btn-settings">
        {{ 'Platform related' | translate }}
        <app-switch class="ml-auto" name="platform"></app-switch>
      </div>
      <div class="btn btn-settings">
        {{ 'User related' | translate }}
        <app-switch class="ml-auto" name="user"></app-switch>
      </div>
    </app-form>
  </div>
</ion-content>
