<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [hidden]="isLoading"
        [text]="'Back' | translate"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Language' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="isLoading || form.invalid" (click)="onSubmit()">
        {{ 'Done' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content bg-ultra-light py-3">
    <app-form [form]="form" [isLoading]="isLoading">
      <div class="label text-muted">{{ 'Push notifications' | translate }}</div>
      <div class="btn btn-settings">
        {{ 'New meetings' | translate }}
        <app-switch class="ml-auto" name="meetings"></app-switch>
      </div>
      <div class="btn btn-settings">
        {{ 'Messages' | translate }}
        <app-switch class="ml-auto" name="messages"></app-switch>
      </div>
    </app-form>
  </div>
</ion-content>
