@import '~src/theme/bootstrap/variables';

.image {
  background-size: cover;
  background-color: theme-color('light');
  width: 34px;
  height: 34px;
  margin-right: 8px;
}

.image-first-last {
  margin-top: 19px;
}

.name {
  font-size: 12px;
  padding-left: 10px;
  color: gray('500');
  margin-bottom: 1px;
}

.message-container {
  margin-bottom: 4px;
}

.message-continuation {
  margin-left: 42px;
}

.message {
  max-width: 80%;

  .text {
    user-select: auto;
    background-color: gray('100');
    border-radius: 1rem;
    padding: 5px 12px;
    display: inline-block;
    white-space: pre-line;

    &.sending {
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: move-gradient;
      animation-timing-function: linear;
      background: lighten($primary, 10%) !important;
      background: linear-gradient(
        to right,
        lighten($primary, 10%) 8%,
        lighten($primary, 5%) 18%,
        lighten($primary, 10%) 33%
      ) !important;
      background-size: 1000px 1000px !important;
    }

    .date {
      font-size: 12px;
    }
  }

  .send-again {
    font-size: 10px;
  }
}

@keyframes move-gradient {
  0% {
    background-position: -500px 0;
  }

  100% {
    background-position: 500px 0;
  }
}
