<div [class.form-group]="label">
  <label *ngIf="label" [attr.for]="name" class="w-100">
    {{ label }}
    <span class="float-right">
      {{ form.get(name).value[0] | json }}-{{
        form.get(name).value[1] < maxValueToRound
          ? form.get(name).value[1]
          : maxLabelToRound
      }}
    </span>
  </label>
  <p-slider
    [(ngModel)]="slider"
    [min]="min"
    [max]="max"
    [styleClass]="
      (isInvalid ? 'is-invalid ' : '') + (isLoading ? 'is-disabled' : '')
    "
    [range]="range"
    (onChange)="onChange($event)"
    [disabled]="isLoading"
  ></p-slider>
  <div class="mt-3" [class.is-invalid]="isInvalid && hasFeedback">
    <ng-container *ngIf="hasFeedback">
      <div *ngIf="isInvalid" class="invalid-feedback">
        <ng-container *ngIf="hasErrorRequired">
          {{ 'The field is required' | translate }}
        </ng-container>
        <ng-container *ngIf="hasErrorTight">
          {{ 'Set the wider range' | translate }}
        </ng-container>
      </div>
      <div *ngIf="!isInvalid" class="feedback">
        {{ 'The field is valid' | translate }}
      </div>
    </ng-container>
  </div>
</div>
