<div class="ionic-modal-content d-flex flex-column">
  <div
    *ngIf="hasConfirm || hasDecline || title"
    class="header d-flex align-items-center py-2 px-3"
  >
    <span class="title font-weight-medium">{{ title }}</span>
    <span
      *ngIf="hasDecline && !confirmLoading"
      class="btn-cancel text-primary"
      (click)="decline.emit()"
    >
      {{ 'Cancel' | translate }}
    </span>
    <span
      *ngIf="hasConfirm"
      class="btn-done text-primary"
      [class.disabled]="confirmLoading"
      (click)="confirmEmit()"
    >
      {{ 'Done' | translate }}
    </span>
  </div>
  <div class="content"><ng-content></ng-content></div>
</div>
