.invalid-feedback,
.valid-feedback,
.feedback {
  margin-bottom: 0.25rem;
}

.feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  visibility: hidden;
}

textarea {
  resize: none;

  &.textarea-mh {
    min-height: 100px;
  }
}
