<div [class.form-group]="label">
  <label *ngIf="label" [attr.for]="name">{{ label }}</label>
  <ng-container [formGroup]="form">
    <textarea
      *ngIf="!autosize"
      [attr.id]="name"
      [formControlName]="name"
      class="form-control textarea-mh"
      [class.is-invalid]="isInvalid && (isDirty || isTouched) && hasFeedback"
      [attr.disabled]="isLoading ? '' : null"
      [placeholder]="placeholder || ''"
    ></textarea>

    <textarea
      *ngIf="autosize"
      appDynamicHeight
      [maxHeight]="maxHeight"
      [minHeight]="minHeight"
      [attr.id]="name"
      [formControlName]="name"
      class="form-control"
      [class.is-invalid]="isInvalid && (isDirty || isTouched) && hasFeedback"
      [attr.disabled]="isLoading ? '' : null"
      [placeholder]="placeholder || ''"
    ></textarea>

    <ng-container *ngIf="hasFeedback">
      <div *ngIf="isInvalid && (isDirty || isTouched)" class="invalid-feedback">
        <div *ngIf="hasErrorRequired">
          {{ 'The field is required' | translate }}
        </div>
        <div *ngIf="hasErrorMinLength">
          {{ 'The text is too short' | translate }}
        </div>
        <div *ngIf="hasErrorMaxLength">
          {{ 'The text is too long' | translate }}
        </div>
        <div *ngIf="hasErrorMaxEndline">
          {{ 'The text contains to many end lines' | translate }}
        </div>
        <div *ngIf="hasErrorMaxWhiteSpaces">
          {{ 'The text contains to many white spaces' | translate }}
        </div>
        <div *ngIf="hasErrorRegexp">
          {{ 'The text contains forbidden characters' | translate }}
        </div>
      </div>
      <div *ngIf="!(isInvalid && (isDirty || isTouched))" class="feedback">
        {{ 'The field is valid' | translate }}
      </div>
    </ng-container>
  </ng-container>
</div>
