<div [class.form-group]="label">
  <label *ngIf="label" [attr.for]="name + '-0'">{{ label }}</label>
  <ng-container [formGroup]="form">
    <div>
      <div
        class="custom-control custom-radio full"
        *ngFor="let option of options; let i = index"
      >
        <input
          type="radio"
          [attr.id]="name + '-' + i"
          [formControlName]="name"
          class="custom-control-input"
          [value]="option.value"
          [class.is-invalid]="
            isInvalid && (isDirty || isTouched) && hasFeedback
          "
          [attr.disabled]="isLoading ? '' : null"
        />
        <label class="custom-control-label" [attr.for]="name + '-' + i">
          {{ options[i].label | translate }}
        </label>
      </div>
    </div>
  </ng-container>
  <div [class.is-invalid]="isInvalid && hasFeedback">
    <ng-container *ngIf="hasFeedback">
      <div *ngIf="isInvalid" class="invalid-feedback">
        <ng-container *ngIf="hasErrorRequired">
          {{ 'The field is required' | translate }}
        </ng-container>
      </div>
      <div *ngIf="!isInvalid" class="feedback">
        {{ 'The field is valid' | translate }}
      </div>
    </ng-container>
  </div>
</div>
