@import '~src/theme/bootstrap/variables';

.invalid-feedback,
.valid-feedback,
.feedback {
  margin-bottom: 0.25rem;
}

.is-invalid .invalid-feedback {
  display: block;
}

.feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  visibility: hidden;
}

.custom-control.full {
  padding-left: 0;

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }

  .custom-control-input {
    display: none; // TODO: It solve problem with -webkit-overflow-scrolling on safari

    & ~ .custom-control-label {
      border: 1px solid gray('400');
      padding: 10px 20px 10px 50px;
      width: 100%;
      border-radius: $input-border-radius;

      &::before {
        left: 12px;
        top: 11px;
        width: 22px;
        height: 22px;
      }

      &::after {
        left: 15px;
        top: 14px;
      }
    }

    &:invalid ~ .custom-control-label,
    &.is-invalid ~ .custom-control-label {
      border-color: theme-color('danger');
    }

    &:disabled:checked ~ .custom-control-label::before,
    &.is-disabled:checked ~ .custom-control-label::before {
      background-color: gray('600');
      border-color: gray('600');
    }
  }
}
