<div
  [class.form-group]="label"
  [class.is-invalid]="isInvalid && isDirty && hasFeedback"
>
  <label *ngIf="label" class="d-flex align-items-center"
    >{{ label }}
    <ion-spinner
      *ngIf="loadingUpload"
      class="ml-auto small-spinner"
    ></ion-spinner
  ></label>
  <ng-container [formGroup]="inputForm">
    <div class="row">
      <div class="col-8">
        <div class="image-container" [class.is-disabled]="isLoading">
          <label
            (click)="showActions(image1Name)"
            class="image"
            [style.background-image]="
              inputForm.get(image1Name).value !== ''
                ? 'url(' + inputForm.get(image1Name).value + ')'
                : 'none'
            "
          >
            <span
              *ngIf="inputForm.get(image1Name).value === ''"
              class="add text-primary"
            >
              <i class="fas fa-lg fa-plus-circle"></i>
            </span>
          </label>
          <span
            *ngIf="inputForm.get(image1Name).value !== ''"
            class="remove text-white pointer"
            (click)="remove(1)"
          >
            <i class="fas fa-fw fa-times-circle"></i>
          </span>
        </div>
      </div>
      <div class="col-4">
        <div
          class="image-container"
          [class.is-disabled]="
            isLoading || inputForm.get(image1Name).value === ''
          "
        >
          <label
            (click)="showActions(image2Name)"
            class="image"
            [style.background-image]="
              inputForm.get(image2Name).value !== ''
                ? 'url(' + inputForm.get(image2Name).value + ')'
                : 'none'
            "
          >
            <span
              *ngIf="inputForm.get(image2Name).value === ''"
              class="add text-primary"
            >
              <i class="fas fa-lg fa-plus-circle"></i>
            </span>
          </label>
          <span
            *ngIf="inputForm.get(image2Name).value !== ''"
            class="remove text-white pointer"
            (click)="remove(2)"
          >
            <i class="fas fa-fw fa-times-circle"></i>
          </span>
        </div>

        <div
          class="image-container third"
          [class.is-disabled]="
            isLoading || inputForm.get(image2Name).value === ''
          "
        >
          <label
            (click)="showActions(image3Name)"
            class="image"
            [style.background-image]="
              inputForm.get(image3Name).value !== ''
                ? 'url(' + inputForm.get(image3Name).value + ')'
                : 'none'
            "
          >
            <span
              *ngIf="inputForm.get(image3Name).value === ''"
              class="add text-primary"
            >
              <i class="fas fa-lg fa-plus-circle"></i>
            </span>
          </label>
          <span
            *ngIf="inputForm.get(image3Name).value !== ''"
            class="remove text-white pointer"
            (click)="remove(3)"
          >
            <i class="fas fa-fw fa-times-circle"></i>
          </span>
        </div>
      </div>
    </div>
  </ng-container>

  <div [class.is-invalid]="isInvalid && isDirty && hasFeedback">
    <ng-container *ngIf="hasFeedback">
      <div *ngIf="isInvalid && isDirty" class="invalid-feedback">
        <ng-container *ngIf="hasErrorRequired">
          {{ 'The field is required' | translate }}
        </ng-container>
      </div>
      <div *ngIf="!(isInvalid && isDirty)" class="feedback">
        {{ 'The field is valid' | translate }}
      </div>
    </ng-container>
  </div>
</div>

<ng-template #actions>
  <app-modal>
    <div class="px-4 pb-4 pt-2">
      <button
        type="button"
        class="btn btn-primary btn-block"
        (click)="takeAndCrop()"
      >
        {{ 'Take a photo' | translate }}
      </button>
      <button type="button" class="btn btn-outline-primary btn-block">
        {{ 'Select from gallery' | translate }}
      </button>
      <button
        type="button"
        class="btn btn-light btn-block mt-4"
        (click)="decline()"
      >
        {{ 'Cancel' | translate }}
      </button>
    </div>
  </app-modal>
</ng-template>

<ng-template #alert>
  <app-alert
    (confirm)="confirmAlert()"
    (decline)="declineAlert()"
    [title]="'Are you sure?' | translate"
  ></app-alert>
</ng-template>
