<div class="ionic-modal-content d-flex flex-column">
  <div *ngIf="title || description" class="header text-center pt-4 px-4">
    <div class="font-weight-medium">{{ title }}</div>
    <div *ngIf="description">{{ description }}</div>
  </div>
  <div class="content p-4">
    <ng-content></ng-content>
    <button
      type="button"
      [disabled]="confirmLoading"
      class="btn btn-primary btn-block"
      *ngIf="hasConfirm"
      (click)="confirmEmit()"
    >
      <span
        [hidden]="confirmLoading"
        [innerText]="confirmText || 'Confirm' | translate"
      ></span>
      <ion-spinner [hidden]="!confirmLoading"></ion-spinner>
    </button>
    <button
      type="button"
      class="btn btn-light btn-block"
      *ngIf="hasDecline && !confirmLoading"
      (click)="decline.emit()"
    >
      {{ declineText || 'Cancel' | translate }}
    </button>
  </div>
</div>
