@import '~src/theme/bootstrap/variables';

.suggestions {
  &.disabled {
    background: gray('600') !important;

    .join {
      color: gray('600') !important;
    }
  }

  label,
  .information {
    margin-left: 4px;
  }

  .item {
    border-radius: $input-border-radius;
    border: 1px solid gray('300');
    background: gray('100');
    font-size: 14px;
  }

  .join {
    font-size: 20px;
  }

  .meetings.has-sibling {
    border-bottom: 1px solid gray('300');
    padding-bottom: 20px;
    margin-bottom: 10px;
  }

  .information {
    font-size: 70%;
    padding-top: 2px;
  }
}

.empty {
  .header {
    font-size: 1.7rem;
    font-weight: 300;
    max-width: 330px;
  }

  .big-icon {
    font-size: 140px;
  }

  .content {
    max-width: 330px;
  }
}

.guidelines {
  font-size: 0.7rem;
  font-weight: 500;
  color: gray('700');
  border-bottom: 1px solid $border-color;
}
