<div [class.form-group]="label">
  <label (click)="open(date)" *ngIf="label" [attr.for]="name">
    {{ label }}
  </label>
  <div
    (click)="open(date)"
    [className]="
      'form-control form-control-placeholder ' +
      (isInvalid && (isDirty || isTouched) ? 'is-invalid ' : '') +
      (isLoading ? 'is-disabled' : '')
    "
  >
    {{ dateLabel }}
  </div>

  <div [class.is-invalid]="isInvalid && (isDirty || isTouched) && hasFeedback">
    <ng-container *ngIf="hasFeedback">
      <div *ngIf="isInvalid && (isDirty || isTouched)" class="invalid-feedback">
        <ng-container *ngIf="hasErrorRequired">
          {{ 'The field is required' | translate }}
        </ng-container>
      </div>
      <div *ngIf="!(isInvalid && (isDirty || isTouched))" class="feedback">
        {{ 'The field is valid' | translate }}
      </div>
    </ng-container>
  </div>
</div>

<ng-template #date>
  <app-modal (confirm)="confirm()">
    <div class="search">
      <div class="container pb-4 pt-1">
        <input
          (keyup)="search$.next($event.target.value)"
          class="form-control"
          [placeholder]="placeholder"
          appAutofocus
        />
      </div>
      <div *ngIf="results">
        <div
          *ngFor="let result of (results | slice: 0:15)"
          (click)="select(result)"
          class="result border-top border-bottom py-2 px-3 d-flex align-items-center"
        >
          <div class="min-width description">{{ result.name }}</div>
          <div class="text-primary ml-auto">
            <ion-icon name="arrow-forward" class="d-block"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </app-modal>
</ng-template>
