@import '~src/theme/bootstrap/variables';

.invalid-feedback,
.valid-feedback,
.feedback {
  margin-bottom: 0.25rem;
}

.is-invalid .invalid-feedback {
  display: block;
}

.feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  visibility: hidden;
}

.form-control-placeholder {
  position: relative;

  &.is-invalid {
    border-color: theme-color('danger');
  }

  &.is-disabled {
    background-color: theme-color('light');
  }

  .geolocation {
    padding: 7px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 23px;
    color: theme-color('primary');

    &.disabled {
      color: gray('600');
    }
  }
}

.content {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;
  height: 100%;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
