<app-modal (confirm)="confirm()">
  <div class="container pb-4 pt-1 border-bottom">
    <form novalidate>
      <input
        (keyup)="search$.next($event.target.value)"
        class="form-control"
        [(ngModel)]="search"
        name="search"
        [placeholder]="placeholder"
        appAutofocus
      />
    </form>
  </div>
  <div class="content">
    <ng-container *ngIf="resultLoading">
      <div class="text-center py-3">
        <ion-spinner></ion-spinner>
      </div>
    </ng-container>
    <ng-container *ngIf="!resultLoading">
      <ng-container *ngIf="!resultSearched">
        <div class="container text-center py-3 text-muted">
          {{
            'Type in your city e.g. ”Warsaw”. If this would not be enough try to add state or country.'
              | translate
          }}
        </div>
      </ng-container>
      <ng-container *ngIf="resultSearched">
        <ng-container *ngIf="results?.length > 0">
          <app-address-item
            *ngFor="let result of filterCities(results)"
            [result]="result"
            (select)="select($event)"
          ></app-address-item>
          <app-address-item
            *ngFor="let result of filterVillages(results)"
            [result]="result"
            (select)="select($event)"
          ></app-address-item>
        </ng-container>
        <ng-container *ngIf="!results || !(results.length > 0)">
          <div class="container text-center py-3">
            {{ 'Nothing found. Try again!' | translate }}
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</app-modal>
