@import '~src/theme/bootstrap/variables';

.modal-body {
  padding: 0;
}

:host-context(.ios) {
  .title {
    order: 2;
  }

  .btn-done {
    font-weight: 600;
  }

  .btn-done {
    order: 3;
    margin-left: auto;
    padding-left: 0.25rem;
  }

  .btn-cancel {
    order: 1;
    margin-right: auto;
    font-weight: $font-weight-normal;
    padding-right: 0.25rem;
  }
}

:host-context(.md) {
  .btn-done,
  .btn-cancel {
    font-weight: $font-weight-medium;
  }

  .btn-cancel {
    margin-left: auto;
    padding-right: 1.75rem;
    padding-left: 0.25rem;
  }

  .btn-done {
    margin-left: auto;
  }

  .btn-cancel + .btn-done {
    margin-left: 0;
  }

  .btn-done,
  .btn-cancel {
    text-transform: uppercase;
    font-size: 14px;
  }
}

.btn-done,
.btn-cancel {
  cursor: pointer;
}

.content {
  max-height: calc(100vh - 80px - var(--ion-safe-area-bottom));
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;
}
