<div class="modal-body safe-area-b">
  <div class="header d-flex align-items-center py-2 px-3">
    <span class="title font-weight-medium">{{ title }}</span>
    <span
      *ngIf="hasDecline"
      class="btn-cancel text-primary"
      (click)="decline.emit()"
    >
      {{ 'Cancel' | translate }}
    </span>
    <span
      *ngIf="hasConfirm"
      class="btn-done text-primary"
      (click)="confirm.emit()"
    >
      {{ 'Done' | translate }}
    </span>
  </div>
  <div class="content"><ng-content></ng-content></div>
</div>
