@import '~src/theme/bootstrap/variables';

.suggestions {
  &.disabled {
    background: gray('600') !important;
  }

  label,
  .information {
    margin-left: 4px;
  }

  .item {
    border-radius: $input-border-radius;
    border: 1px solid gray('300');
    background: gray('100');
    font-size: 14px;
  }

  .meetings.has-sibling {
    margin-bottom: 15px;
  }

  .information {
    font-size: 70%;
    padding-top: 2px;
  }
}

.empty {
  .header {
    font-size: 1.7rem;
    font-weight: 300;
    max-width: 330px;
  }

  .big-icon {
    font-size: 140px;
  }

  .content {
    max-width: 330px;
  }
}

.guidelines {
  font-size: 0.7rem;
  font-weight: 500;
  color: gray('700');
}

.location {
  font-weight: 500;
  font-size: 0.7rem;

  .change {
    border: 1px solid $primary;
    border-radius: 4px;
    padding: 4px 6px;
    background: $white;

    .icon {
      margin-left: 2px;
      font-size: 0.9rem;
    }
  }
}

.min-width {
  min-width: 0;
}
