<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'Explore' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/app/explore/add">
        <ion-icon name="add-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher
    (ionRefresh)="refreshSuggestions($event)"
    [disabled]="
      isLoadingInitial || isLoadingJoin || isLoadingSuggestions || !location
    "
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="$explore | async as explore">
    <section
      *ngIf="!isLoadingInitial; else loading"
      class="d-flex flex-column minh-100 suggestions"
    >
      <div class="location border-bottom py-2 px-3 d-flex align-items-center">
        <div *ngIf="location; else noLocation" class="min-width description">
          <div
            *ngIf="location.type && !isNotCity(location.type) && location.city"
          >
            {{ 'City' | translate }}: {{ location.city }}
          </div>
          <div
            *ngIf="location.type && isNotCity(location.type) && location.city"
          >
            {{ 'Village' | translate }}: {{ location.city }}
          </div>
          <div *ngIf="location.state">
            {{ 'State' | translate }}: {{ location.state }}
          </div>
          <div *ngIf="location.district && location.district !== location.city">
            {{ 'District' | translate }}: {{ location.district }}
          </div>
          <div *ngIf="location.country">
            {{ 'Country' | translate }}: {{ location.country }}
          </div>
        </div>
        <ng-template #noLocation>
          <div class="min-width description">
            <div>
              {{ 'Could not resolve the location' | translate }}
            </div>
          </div>
        </ng-template>
        <div (click)="changeLocation()" class="text-primary change ml-auto">
          <span class="align-middle">{{ 'Change' | translate }}</span>
          <ion-icon
            name="pin-outline"
            class="icon d-inline-block align-middle"
          ></ion-icon>
        </div>
      </div>

      <div
        *ngIf="
          explore.meetings.length > 0 || explore.requests.length > 0;
          else empty
        "
        class="container py-3"
        [class.disabled]="isLoadingJoin"
      >
        <div
          class="meetings"
          *ngIf="explore.meetings.length > 0"
          [class.has-sibling]="explore.requests.length > 0"
        >
          <label [innerText]="'Near meetings to join' | translate"></label>
          <div
            *ngFor="let meeting of explore.meetings"
            class="d-flex align-items-center mb-1 item"
            (click)="openMeetingDetails(meeting)"
          >
            <div class="py-2 pl-2">
              <div>
                <span class="font-weight-bold">{{ 'Date' | translate }}</span
                >: {{ meeting.date | date: 'dd.MM.yyyy' }}
              </div>
              <div>
                <span class="font-weight-bold">{{ 'City' | translate }}</span
                >: {{ meeting.city }}
              </div>
              <div>
                <span class="font-weight-bold">{{ 'People' | translate }}</span
                >: {{ meeting.users.length }}
              </div>
              <div>
                <span class="font-weight-bold">{{
                  'Activity' | translate
                }}</span
                >: {{ meeting.activity.name | translate }}
              </div>
            </div>
            <div
              class="text-primary ml-auto align-self-stretch px-3 d-flex align-items-center"
            >
              <ion-icon name="arrow-forward-outline" class="d-block"></ion-icon>
            </div>
          </div>
        </div>
        <div class="requests" *ngIf="explore.requests.length > 0">
          <label [innerText]="'Near requests to connect' | translate"></label>
          <div
            *ngFor="let request of explore.requests"
            class="d-flex align-items-center mb-1 item"
            (click)="openRequestDetails(request)"
          >
            <div class="py-2 pl-2">
              <div>
                <span class="font-weight-bold">{{ 'Date' | translate }}</span
                >: {{ getDate(request.minDate, request.maxDate) }}
              </div>
              <div>
                <span class="font-weight-bold">{{ 'City' | translate }}</span
                >: {{ request.city }}
              </div>
              <div>
                <span class="font-weight-bold">
                  <ng-container
                    *ngIf="request.activities.length > 1; else oneActivity"
                  >
                    {{ 'Activities' | translate }}
                  </ng-container>
                  <ng-template #oneActivity>
                    {{ 'Activity' | translate }}
                  </ng-template> </span
                >:
                <ng-container
                  *ngFor="let activity of request.activities; let i = index"
                >
                  <span class="d-inline-block">{{
                    activity.name | translate
                  }}</span>
                  <span *ngIf="i !== request.activities.length - 1">, </span>
                </ng-container>
              </div>
            </div>
            <div
              class="text-primary ml-auto align-self-stretch px-3 d-flex align-items-center"
            >
              <ion-icon name="arrow-forward-outline" class="d-block"></ion-icon>
            </div>
          </div>
        </div>
        <div
          class="guidelines py-3 mt-3 border-top"
          *ngIf="explore.meetings.length + explore.requests.length < 3"
          [innerText]="
            'Share Skelvy with your friends. The bigger the community is, the better is the experience for all users! Encourage other people to create events. Keep in mind that the app is relatively new, so you can help us a growing step by step.'
              | translate
          "
        ></div>
      </div>
      <ng-template #empty>
        <div class="empty m-auto text-center py-3">
          <div class="content container">
            <ion-icon
              name="walk-outline"
              class="big-icon text-primary"
            ></ion-icon>
            <div class="header">
              {{ "Couldn't find any meetings around you." | translate }}
            </div>
            <p class="body mt-3 mb-4">
              {{
                "It's time to specify your preferences or create your own meeting. You are one step away from changing your evening!"
                  | translate
              }}
            </p>
            <button
              routerLink="/app/explore/add"
              class="btn btn-outline-primary px-4"
            >
              {{ 'Create now' | translate }}
            </button>
          </div>
        </div>
      </ng-template>
    </section>
    <ng-template #loading>
      <div class="text-center py-3">
        <ion-spinner></ion-spinner>
      </div>
    </ng-template>
  </ng-container>
</ion-content>
