@import '~src/theme/bootstrap/variables';

:host {
  height: 100%;
  width: 100%;
  display: flex;
}

.content {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;
}

.image-alert {
  background-size: cover;
  background-color: theme-color('light');
  width: 64px;
  height: 64px;
}
