<div class="content p-2 w-100" appAutoScroll>
  <app-message
    *ngFor="let message of messages; let i = index"
    [message]="message"
    [user]="findUser(message.userId)"
    [isMine]="user.id === message.userId"
    [isLast]="
      i === messages.length - 1
        ? true
        : messages[i].userId !== messages[i + 1].userId
    "
    [isFirst]="i === 0 ? true : messages[i].userId !== messages[i - 1].userId"
    [dateToShow]="dateToShow"
    (showDate)="showDate($event)"
  ></app-message>
</div>
