<div class="content p-2 w-100" appAutoScroll #content>
  <div
    *ngIf="!isLoading && hasMoreMessages"
    (click)="loadMessages()"
    class="load text-center"
  >
    {{ 'Load more messages' | translate }}
  </div>
  <ng-container *ngFor="let message of messages; let i = index">
    <ng-container
      *ngIf="findUser(message.userId) as meetingUser; else anonymous"
    >
      <app-message-user
        *ngIf="user.id === message.userId; else notMine"
        [message]="message"
        [user]="meetingUser"
        [isLast]="
          i === messages.length - 1
            ? true
            : messages[i].userId !== messages[i + 1].userId
        "
        [isFirst]="
          i === 0 ? true : messages[i].userId !== messages[i - 1].userId
        "
        [dateToShow]="dateToShow"
        (showDate)="showDate($event)"
        (showActions)="showActions($event)"
        (showPreview)="showPreview($event)"
      ></app-message-user>
      <ng-template #notMine>
        <app-message
          [message]="message"
          [user]="meetingUser"
          [isLast]="
            i === messages.length - 1
              ? true
              : messages[i].userId !== messages[i + 1].userId
          "
          [isFirst]="
            i === 0 ? true : messages[i].userId !== messages[i - 1].userId
          "
          [dateToShow]="dateToShow"
          (showDate)="showDate($event)"
          (showPreview)="showPreview($event)"
        ></app-message>
      </ng-template>
    </ng-container>
    <ng-template #anonymous>
      <app-message-anonymous
        [message]="message"
        [isLast]="
          i === messages.length - 1
            ? true
            : messages[i].userId !== messages[i + 1].userId
        "
        [isFirst]="
          i === 0 ? true : messages[i].userId !== messages[i - 1].userId
        "
        [dateToShow]="dateToShow"
        (showDate)="showDate($event)"
        (showPreview)="showPreview($event)"
      ></app-message-anonymous>
    </ng-template>
  </ng-container>
</div>
