<div class="slider">
  <ion-slides pager="true">
    <ion-slide *ngFor="let photo of user.profile.photos">
      <div
        class="slide"
        [style.background-image]="'url(' + photo.url + ')'"
      ></div>
    </ion-slide>
  </ion-slides>
</div>
<div class="content container pb-3">
  <h2>{{ user.profile.name }}, {{ user.profile.birthday | age }}</h2>
  <h5>{{ 'About me' | translate }}</h5>
  <p class="description" *ngIf="user.profile.description?.length > 0">
    {{ user.profile.description }}
  </p>
  <p
    class="text-muted"
    *ngIf="!user.profile.description || user.profile.description.length === 0"
  >
    {{ 'User did not fill his bio yet.' | translate }}
  </p>
  <ng-container *ngIf="!mine">
    <button
      *ngIf="!blocked; else unblock"
      type="button"
      [disabled]="loadingBlocking"
      (click)="blockUser()"
      class="btn btn-block btn-danger"
    >
      <ng-container *ngIf="!loadingBlocking; else loading">{{
        'Block user' | translate
      }}</ng-container>
    </button>
    <ng-template #unblock>
      <button
        type="button"
        [disabled]="loadingBlocking"
        (click)="removeBlockUser()"
        class="btn btn-block btn-dark"
      >
        <ng-container *ngIf="!loadingBlocking; else loading">{{
          'Unblock user' | translate
        }}</ng-container>
      </button>
    </ng-template>
    <ng-template #loading>
      <ion-spinner></ion-spinner>
    </ng-template>
    <button
      type="button"
      (click)="sendReport()"
      class="btn btn-block btn-outline-dark"
    >
      {{ 'Report user' | translate }}
    </button>
  </ng-container>
</div>
