@import '../overview/overview.page';

::ng-deep .full {
  margin-top: -1px;
  margin-bottom: 0 !important;
  background: $white;

  label {
    border-radius: 0 !important;
    border-width: 1px 0 !important;
    border-color: theme-color('light') !important;
    padding: 14px 17px 14px 50px !important;

    &::before {
      top: 15px !important;
    }

    &::after {
      top: 18px !important;
    }
  }
}
