<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [disabled]="isLoading || form.invalid" (click)="onSubmit()">
        {{ 'Done' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Language' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="languages content minh-100 bg-ultra-light py-3">
    <app-form [form]="form" (onSubmit)="onSubmit()" [isLoading]="isLoading">
      <app-radio name="language" [options]="languages"></app-radio>
    </app-form>
  </div>
</ion-content>
