@import '~src/theme/bootstrap/variables';

.form-message {
  ::ng-deep form {
    display: flex;
    padding: 7px 0;

    :host-context(.ios) & {
      //min-height: 51px;
    }

    :host-context(.md) & {
      //min-height: 57px;
    }
  }
}

.input-message {
  border-color: #eeeef3 !important;
  box-shadow: none;
  padding: 4px 5px;
  resize: none;
  border-radius: 1rem;
  background-color: #eeeef3;
}

.btn-action {
  font-size: 31px;
  background: $white;
  box-shadow: none;
  border: none;
  border-radius: 0;

  &.send {
    padding: 0 6px;
    display: none;
  }

  &.camera {
    padding: 0 3px 0 6px;
  }

  &.image {
    padding: 0 6px 0 3px;
  }
}

.btn-icon {
  font-size: 31px;
  width: 65px;
  text-align: center;
  background: $white;
  box-shadow: none;
  border: none;
  border-radius: 0;
  margin: -6px 0;
  padding: 0;
}

.filled {
  .send {
    display: inline-block;
  }

  .send-icon {
    display: none;
  }
}
