<app-form
  [form]="form"
  (onSubmit)="onSubmit()"
  [isLoading]="isLoading"
  class="form-message"
>
  <ng-container [formGroup]="form">
    <textarea
      #messageInput
      appDynamicHeight
      maxHeight="110px"
      minHeight="40px"
      formControlName="message"
      class="form-control input-message my-auto"
      [attr.disabled]="isLoading ? '' : null"
      [placeholder]="'Type a message...' | translate"
    ></textarea>
  </ng-container>

  <button
    (click)="onSubmit()"
    [disabled]="isLoading || !(connected$ | async)"
    class="btn-send"
  >
    <ion-icon
      name="arrow-dropup-circle"
      class="text-primary d-block"
      [class.text-muted]="hasErrorRequired && (connected$ | async)"
      [class.text-danger]="hasErrorMaxLength || !(connected$ | async)"
    ></ion-icon>
  </button>
</app-form>
