@import '~src/theme/bootstrap/variables';

.form-message {
  ::ng-deep form {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    display: flex;

    :host-context(.ios) & {
      min-height: 51px;
    }

    :host-context(.md) & {
      min-height: 57px;
    }
  }
}

.input-message {
  border-color: white;
  box-shadow: none;
  padding: 0.375rem;
  resize: none;
}

.btn-send {
  font-size: 31px;
  padding: 0 0.375rem 0 0;
  background: $white;
  box-shadow: none;
  border: none;
  border-radius: 0;
}
