<div [class.form-group]="label">
  <label *ngIf="label" [attr.for]="name">{{ label }}</label>
  <ng-container [formGroup]="form">
    <input
      [attr.id]="name"
      [formControlName]="name"
      [attr.type]="isPassword ? 'password' : isEmail ? 'email' : 'text'"
      class="form-control"
      [class.is-invalid]="isInvalid && isTouched && hasFeedback"
      [attr.disabled]="isLoading ? '' : null"
      [placeholder]="placeholder"
      [attr.autocomplete]="autocomplete ? 'on' : 'off'"
      [attr.autocorrect]="autocomplete ? 'on' : 'off'"
      [attr.autocapitalize]="autocapitalize ? 'on' : 'off'"
      [attr.spellcheck]="autocorrect ? 'true' : 'false'"
    />

    <ng-container *ngIf="hasFeedback">
      <div *ngIf="isInvalid && isTouched" class="invalid-feedback">
        <div *ngIf="hasErrorRequired">
          {{ 'The field is required' | translate }}
        </div>
        <div *ngIf="hasErrorEmail">
          {{ 'Enter a valid email address' | translate }}
        </div>
        <div *ngIf="hasErrorEqual">
          {{ 'The fields have to be the same' | translate }}
        </div>
        <div *ngIf="hasErrorMinLength">
          {{ 'The text is too short' | translate }}
        </div>
        <div *ngIf="hasErrorMaxLength">
          {{ 'The text is too long' | translate }}
        </div>
        <div *ngIf="hasErrorMaxEndline">
          {{ 'The text contains to many end lines' | translate }}
        </div>
        <div *ngIf="hasErrorMaxWhiteSpaces">
          {{ 'The text contains to many white spaces' | translate }}
        </div>
        <div *ngIf="hasErrorRegexp">
          {{ 'The text contains forbidden characters' | translate }}
        </div>
      </div>
      <div *ngIf="!(isInvalid && isTouched)" class="feedback">
        {{ 'The field is valid' | translate }}
      </div>
    </ng-container>
  </ng-container>
</div>
