<div [class.form-group]="label">
  <label *ngIf="label" [attr.for]="name">{{ label }}</label>
  <ng-container [formGroup]="form">
    <input
      [attr.id]="name"
      [formControlName]="name"
      [attr.type]="isPassword ? 'password' : isEmail ? 'email' : 'text'"
      class="form-control"
      [class.is-invalid]="isInvalid && isTouched && hasFeedback"
      [attr.disabled]="isLoading ? '' : null"
      [placeholder]="placeholder"
    />

    <ng-container *ngIf="hasFeedback">
      <div *ngIf="isInvalid && isTouched" class="invalid-feedback">
        <ng-container *ngIf="hasErrorRequired">
          {{ 'The field is required' | translate }}
        </ng-container>
        <ng-container *ngIf="hasErrorEmail">
          {{ 'Enter a valid email address' | translate }}
        </ng-container>
        <ng-container *ngIf="hasErrorEqual">
          {{ 'Fields must be the same' | translate }}
        </ng-container>
      </div>
      <div *ngIf="!(isInvalid && isTouched)" class="feedback">
        {{ 'The field is valid' | translate }}
      </div>
    </ng-container>
  </ng-container>
</div>
