@import '~src/theme/bootstrap/variables';

:host {
  max-height: 100%;
}

.modal-body {
  padding: 0;
  max-height: 100%;

  .content {
    max-height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: contain;
  }
}
