<div class="modal-body safe-area-b d-flex flex-column">
  <div class="header text-center pt-4 px-4">
    <div class="font-weight-medium">{{ title }}</div>
    <div *ngIf="description">{{ description }}</div>
  </div>
  <div class="content p-4">
    <ng-content></ng-content>
    <button
      type="button"
      [disabled]="confirmLoading"
      class="btn btn-primary btn-block"
      *ngIf="hasConfirm"
      (click)="confirm.emit()"
    >
      <ng-container *ngIf="!confirmLoading; else loading">
        {{ confirmText || 'Confirm' | translate }}
      </ng-container>
      <ng-template #loading>
        <ion-spinner></ion-spinner>
      </ng-template>
    </button>
    <button
      type="button"
      class="btn btn-light btn-block"
      *ngIf="hasDecline && !confirmLoading"
      (click)="decline.emit()"
    >
      {{ declineText || 'Cancel' | translate }}
    </button>
  </div>
</div>
