<div *ngIf="title" class="modal-header flex-column text-center">
  <span *ngIf="title" class="font-weight-medium w-100">{{ title }}</span>
  <span *ngIf="description" class="small text-muted w-100">
    {{ description }}
  </span>
</div>
<div class="modal-body text-center">
  <ng-content></ng-content>
  <button
    type="button"
    [disabled]="confirmLoading"
    class="btn btn-primary btn-block"
    *ngIf="hasConfirm"
    (click)="confirm.emit()"
  >
    <ng-container *ngIf="!confirmLoading">
      {{ confirmText || 'Confirm' | translate }}
    </ng-container>
    <ng-container *ngIf="confirmLoading">
      <ion-spinner class="align-middle"></ion-spinner>
    </ng-container>
  </button>
  <button
    type="button"
    class="btn btn-light btn-block"
    *ngIf="hasDecline && !confirmLoading"
    (click)="decline.emit()"
  >
    {{ declineText || 'Cancel' | translate }}
  </button>
</div>
