<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [hidden]="isLoading"
        defaultHref="/app/tabs/meeting"
        [text]="'Back' | translate"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Add meeting' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        [disabled]="isLoading || form.invalid || loadingForm"
        (click)="onSubmit()"
      >
        {{ 'Done' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <div class="container py-3">
      <div class="guidelines pb-3 mb-3">
        {{
          'By choosing more drinks or wider range of age and date, you increase your chances of finding quicker new meetings!'
            | translate
        }}
      </div>
      <app-form
        [form]="form"
        (onSubmit)="onSubmit()"
        [isLoading]="isLoading"
        *ngIf="!loadingForm; else loading"
      >
        <app-calendar
          name="date"
          [min]="today"
          [label]="'Date' | translate"
        ></app-calendar>
        <app-address
          name="address"
          [label]="'Address' | translate"
          [placeholder]="'Type in your city...' | translate"
        ></app-address>
        <app-meeting-suggestions
          [suggestions]="suggestions"
          [isLoading]="isLoading || loadingSuggestions"
          [inForm]="true"
          (connect)="connect($event)"
          (join)="join($event)"
        ></app-meeting-suggestions>
        <app-range
          name="age"
          [min]="18"
          [max]="55"
          [range]="true"
          [label]="'Age range' | translate"
          maxLabelToRound="55+"
          [maxValueToRound]="55"
        ></app-range>
        <app-checkbox
          *ngIf="drinkTypes?.length > 0"
          name="drinkTypes"
          [label]="'Drinks' | translate"
          [options]="drinkTypes"
        ></app-checkbox>
      </app-form>
      <ng-template #loading>
        <div class="text-center py-3">
          <ion-spinner></ion-spinner>
        </div>
      </ng-template>
    </div>
  </section>
</ion-content>
