@import '~src/theme/bootstrap/variables';

.bg-ultra-light {
  background: gray('100');
}

.content {
  .btn-settings {
    font-weight: 400;
    text-align: left;
    border-radius: 0;
    width: 100%;
    background: $white;
    color: $body-color;
    padding: 14px 17px;
    border-bottom: 1px solid theme-color('light');
    border-top: 1px solid theme-color('light');
    margin-top: -1px;

    &.btn-icon {
      display: flex;
      align-items: center;

      .icon {
        color: gray('500');
      }
    }

    &:not(.btn-icon) {
      text-align: center;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

.label {
  padding: 3px 1rem;
}
