<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/user"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Settings' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content minh-100 bg-ultra-light">
    <div class="py-3">
      <a
        routerLink="/app/settings/notifications"
        class="btn btn-settings btn-icon"
      >
        {{ 'Notifications' | translate }}
        <ion-icon name="arrow-forward" class="icon ml-auto"></ion-icon>
      </a>
      <a routerLink="/app/settings/friends" class="btn btn-settings btn-icon">
        {{ 'Friends' | translate }}
        <ion-icon name="arrow-forward" class="icon ml-auto"></ion-icon>
      </a>
      <a routerLink="/app/settings/language" class="btn btn-settings btn-icon">
        {{ 'Language' | translate }}
        <ion-icon name="arrow-forward" class="icon ml-auto"></ion-icon>
      </a>
      <a routerLink="/app/settings/username" class="btn btn-settings btn-icon">
        {{ 'Username' | translate }}
        <ion-icon name="arrow-forward" class="icon ml-auto"></ion-icon>
      </a>
      <a routerLink="/app/settings/email" class="btn btn-settings btn-icon">
        {{ 'Email' | translate }}
        <ion-icon name="arrow-forward" class="icon ml-auto"></ion-icon>
      </a>
      <a routerLink="/app/settings/blocked" class="btn btn-settings btn-icon">
        {{ 'Blocked users' | translate }}
        <ion-icon name="arrow-forward" class="icon ml-auto"></ion-icon>
      </a>
      <a routerLink="/app/settings/data" class="btn btn-settings btn-icon">
        {{ 'Stored data' | translate }}
        <ion-icon name="arrow-forward" class="icon ml-auto"></ion-icon>
      </a>
      <a routerLink="/app/settings/community" class="btn btn-settings btn-icon">
        {{ 'Community' | translate }}
        <ion-icon name="arrow-forward" class="icon ml-auto"></ion-icon>
      </a>
      <a routerLink="/app/settings/legal" class="btn btn-settings btn-icon">
        {{ 'Legal' | translate }}
        <ion-icon name="arrow-forward" class="icon ml-auto"></ion-icon>
      </a>
      <button type="button" (click)="logout()" class="btn btn-settings mt-3">
        {{ 'Log out' | translate }}
      </button>
      <button type="button" (click)="sendReport()" class="btn btn-settings">
        {{ 'Report a bug' | translate }}
      </button>
      <button
        type="button"
        (click)="rateInStore()"
        class="btn btn-settings mt-3"
      >
        {{ 'Rate in store' | translate }}
      </button>
      <button type="button" (click)="shareApp()" class="btn btn-settings">
        {{ 'Share with friends' | translate }}
      </button>
      <section class="about d-flex justify-content-center py-3">
        <div class="text-center">
          {{ 'Version' | translate }}: {{ version }}
        </div>
      </section>
      <button
        type="button"
        (click)="openLink('https://facebook.com/skelvyapp')"
        class="btn btn-settings d-flex align-items-center justify-content-center"
      >
        Facebook
        <ion-icon class="ml-2" name="logo-facebook"></ion-icon>
      </button>
      <button
        type="button"
        (click)="openLink('https://twitter.com/skelvyapp')"
        class="btn btn-settings d-flex align-items-center justify-content-center"
      >
        Twitter
        <ion-icon class="ml-2" name="logo-twitter"></ion-icon>
      </button>
      <button
        type="button"
        (click)="openLink('https://instagram.com/skelvyapp/')"
        class="btn btn-settings d-flex align-items-center justify-content-center"
      >
        Instagram
        <ion-icon class="ml-2" name="logo-instagram"></ion-icon>
      </button>
    </div>
  </div>
</ion-content>
