@import '~src/theme/bootstrap/variables';

:host {
  height: 100%;
  width: 100%;
  display: flex;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.big-icon {
  font-size: 140px;
}

.wrapper {
  min-height: 300px;
}

.content {
  max-width: 330px;
}

.header {
  font-size: 2.2rem;
  font-weight: 200;
  line-height: 2.7rem;
}
