<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/app/settings/friends">
        <ion-icon name="contacts" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Profile' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/app/settings">
        <ion-icon name="settings" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="user$ | async as user" class="d-flex flex-column minh-100">
    <section class="container d-flex flex-grow-1 py-3 bg-ultra-light preview">
      <div class="m-auto text-center">
        <div>
          <div (click)="openDetails()" class="avatar d-inline-block">
            <div
              class="image"
              [style.background-image]="
                'url(' + user.profile.photos[0]?.url + ')'
              "
            ></div>
          </div>

          <h2 class="name my-4">
            <span class="d-inline-block">
              {{ user.profile.name }}, {{ user.profile.birthday | age }}
              <span
                routerLink="/app/settings/username"
                class="tap d-block w-100"
              >
                @{{ user.name }}
              </span>
            </span>
          </h2>
        </div>

        <button
          routerLink="/app/user/edit"
          class="btn btn-outline-primary px-4"
        >
          {{ 'Edit details' | translate }}
        </button>
      </div>
    </section>
    <section class="py-4 text-center bg-white">
      <ion-slides
        pager="true"
        class="slider"
        [options]="{ autoplay: { delay: 6000 } }"
      >
        <ion-slide>
          <div class="slide">
            {{
              'Can you do us a favour? Please rate our app in store if you like it!'
                | translate
            }}
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            {{
              'Share the app with your friends! More friends means more opportunities!'
                | translate
            }}
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            {{
              'Noticed a bug? Explain the problem you have encountered while using the app!'
                | translate
            }}
          </div>
        </ion-slide>
      </ion-slides>
    </section>
  </div>
</ion-content>
