<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'Profile' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    *ngIf="(user$ | async)?.profile as profile"
    class="d-flex flex-column minh-100"
  >
    <section class="container d-flex flex-grow-1 py-3 bg-ultra-light preview">
      <div class="m-auto text-center">
        <div (click)="open()" class="pointer">
          <div class="avatar d-inline-block">
            <div
              class="image"
              [style.background-image]="'url(' + profile.photos[0].url + ')'"
            ></div>
          </div>

          <h2 class="name my-4">
            <div class="d-inline-block">
              {{ profile.name }}, {{ profile.birthday | age }}
              <div class="tap">{{ 'Tap to see your profile' | translate }}</div>
            </div>
          </h2>
        </div>

        <button
          routerLink="/app/user/edit"
          class="btn btn-outline-primary px-4"
        >
          {{ 'Edit details' | translate }}
        </button>
      </div>
    </section>
    <section class="py-4 text-center bg-white">
      <ion-slides
        pager="true"
        class="slider"
        [options]="{ autoplay: { delay: 6000 } }"
      >
        <ion-slide>
          <div class="slide">
            {{
              'Can you do us a favour? Please rate our app in store if you like it!'
                | translate
            }}
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            {{
              'Share the app with your friends! More friends means more opportunities!'
                | translate
            }}
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide">
            {{
              'Noticed a bug? Explain the problem you have encountered while using the app!'
                | translate
            }}
          </div>
        </ion-slide>
      </ion-slides>
    </section>
  </div>
</ion-content>

<ng-template #details>
  <app-modal (confirm)="confirm()">
    <app-details
      *ngIf="(user$ | async)?.profile as profile"
      [profile]="profile"
    ></app-details>
  </app-modal>
</ng-template>
