@import '~src/theme/bootstrap/variables';

.guidelines {
  font-size: 0.7rem;
  font-weight: 500;
  color: gray('700');
  border-bottom: 1px solid $border-color;
}

.note {
  font-size: 0.7rem;
  color: gray('700');
}
