<div [class.form-group]="label">
  <label *ngIf="label" [attr.for]="name">{{ label }}</label>
  <ng-container [formGroup]="form">
    <select
      [attr.id]="name"
      [formControlName]="name"
      class="custom-select"
      [class.is-invalid]="isInvalid && (isDirty || isTouched) && hasFeedback"
      [attr.disabled]="isLoading ? '' : null"
    >
      <option value="" disabled selected>{{
        placeholder || 'Select' | translate
      }}</option>
      <option *ngFor="let option of options" [value]="option.value">{{
        option.label
      }}</option>
    </select>

    <ng-container *ngIf="hasFeedback">
      <div *ngIf="isInvalid && (isDirty || isTouched)" class="invalid-feedback">
        <ng-container *ngIf="hasErrorRequired">{{
          'The field is required' | translate
        }}</ng-container>
      </div>
      <div *ngIf="!(isInvalid && (isDirty || isTouched))" class="feedback">
        {{ 'The field is valid' | translate }}
      </div>
    </ng-container>
  </ng-container>
</div>
