<ion-content [scrollY]="false">
  <div class="container d-flex flex-column h-100 safe-area-y">
    <div class="m-auto">
      <div class="logo">
        <img class="img-fluid" src="assets/brand/text.svg" alt="logo" />
      </div>
    </div>
    <div>
      <button (click)="signInWithFacebook()" class="btn btn-block btn-primary">
        <i class="fab fa-facebook-f mr-2"></i>
        <span>{{ 'Continue with Facebook' | translate }}</span>
      </button>
      <button
        (click)="signInWithGoogle()"
        class="btn btn-block btn-outline-primary"
      >
        <i class="fab fa-google mr-2"></i>
        <span>{{ 'Continue with Google' | translate }}</span>
      </button>
      <div class="terms text-center my-3">
        <a
          class="text-primary"
          (click)="openLink('https://skelvy.com/legal/terms-of-service/')"
        >
          {{ 'Terms of service' | translate }}
        </a>
        &
        <a
          class="text-primary"
          (click)="openLink('https://skelvy.com/legal/privacy-policy/')"
        >
          {{ 'Privacy policy' | translate }}
        </a>
      </div>
    </div>
  </div>
</ion-content>
