<ion-content [scrollY]="false">
  <div class="container d-flex flex-column h-100 safe-area-y">
    <div class="m-auto">
      <div class="logo">
        <img class="img-fluid" src="assets/brand/text.svg" alt="logo" />
      </div>
    </div>
    <div class="pb-3">
      <p (click)="openLinks()" class="text-center font-weight-bold small">
        {{
          'You agree to the Skelvy Terms of Service, Privacy Policy and Cookie Policy.'
            | translate
        }}
      </p>
      <button (click)="signInWithFacebook()" class="btn btn-block btn-primary">
        <i class="fab fa-facebook-f mr-2"></i>
        <span>{{ 'Agree & Continue via Facebook' | translate }}</span>
      </button>
      <button
        (click)="signInWithGoogle()"
        class="btn btn-block btn-outline-primary"
      >
        <i class="fab fa-google mr-2"></i>
        <span>{{ 'Agree & Continue via Google' | translate }}</span>
      </button>
    </div>
  </div>
</ion-content>
