<ion-content [scrollY]="false">
  <div class="container d-flex flex-column h-100 safe-area-y">
    <div class="m-auto">
      <div class="logo">
        <img class="img-fluid" src="assets/brand/text.svg" alt="logo" />
      </div>
    </div>
    <div class="pb-3">
      <p (click)="open()" class="text-center font-weight-bold small">
        {{
          'You agree to the Skelvy Terms of Service, Privacy Policy and Cookie Policy.'
            | translate
        }}
      </p>
      <button (click)="signInWithFacebook()" class="btn btn-block btn-primary">
        <i class="fab fa-facebook-f mr-2"></i>
        <span>{{ 'Agree & Continue via Facebook' | translate }}</span>
      </button>
      <button
        (click)="signInWithGoogle()"
        class="btn btn-block btn-outline-primary"
      >
        <i class="fab fa-google mr-2"></i>
        <span>{{ 'Agree & Continue via Google' | translate }}</span>
      </button>
    </div>
  </div>
</ion-content>

<ng-template #links>
  <app-modal (confirm)="confirm()">
    <div class="container py-3">
      <button
        type="button"
        class="btn btn-primary btn-block"
        (click)="openLink('https://skelvy.com/legal/terms-of-service/')"
      >
        {{ 'Terms of service' | translate }}
      </button>
      <button
        type="button"
        class="btn btn-primary btn-block"
        (click)="openLink('https://skelvy.com/legal/privacy-policy/')"
      >
        {{ 'Privacy policy' | translate }}
      </button>
      <button
        type="button"
        class="btn btn-primary btn-block"
        (click)="openLink('https://skelvy.com/legal/cookie-policy/')"
      >
        {{ 'Cookie policy' | translate }}
      </button>
    </div>
  </app-modal>
</ng-template>
