<div class="d-flex minh-100 flex-column">
  <section class="drink d-flex flex-grow-1 bg-ultra-light py-3">
    <div class="my-auto w-100 text-center header container">
      {{ 'All you need to do is wait now' | translate }}
      <ion-icon name="heart" class="header-icon"></ion-icon>
    </div>
  </section>
  <section class="info">
    <div class="text-center border-bottom border-top">
      <div class="py-2 border-bottom">
        <div class="font-weight-bold">{{ 'Date' | translate }}</div>
        <div>
          {{ request.minDate | date: 'dd.MM.yyyy' }} -
          {{ request.maxDate | date: 'dd.MM.yyyy' }}
        </div>
      </div>
      <div *ngIf="!loadingLocation; else loading" class="py-2 border-bottom">
        <div class="font-weight-bold">{{ 'City' | translate }}</div>
        <div>{{ location.city }}</div>
      </div>
      <ng-template #loading>
        <div class="py-2 border-bottom loading">
          <div class="font-weight-bold">{{ 'City' | translate }}</div>
          <div class="load d-inline-block">placeholder</div>
        </div>
      </ng-template>
      <div class="py-2 border-bottom">
        <div class="font-weight-bold">{{ 'Drinks' | translate }}</div>
        <div>
          <ng-container *ngFor="let drink of request.drinks; let i = index">
            <span class="d-inline-block">{{ drink.name | translate }}</span>
            <span *ngIf="i !== request.drinks.length - 1">, </span>
          </ng-container>
        </div>
      </div>
      <div class="py-2">
        <div class="font-weight-bold">{{ 'Age range' | translate }}</div>
        <div>{{ request.minAge }} - {{ request.maxAge }}</div>
      </div>
    </div>
  </section>
  <section class="more">
    <div class="container py-2">
      <button (click)="stop()" class="btn btn-outline-primary btn-block">
        {{ 'Stop browsing' | translate }}
      </button>
    </div>
  </section>
</div>

<ng-template #alert>
  <app-alert
    (confirm)="confirmAlert()"
    [confirmLoading]="loadingRemove"
    (decline)="declineAlert()"
    [title]="'Are you sure?' | translate"
  ></app-alert>
</ng-template>
