<div [class.form-group]="label">
  <label (click)="open(date)" *ngIf="label" [attr.for]="name">{{
    label
  }}</label>
  <div
    (click)="open(date)"
    [className]="
      'form-control form-control-placeholder ' +
      (isInvalid && (isDirty || isTouched) ? 'is-invalid ' : '') +
      (isLoading ? 'is-disabled' : '')
    "
  >
    {{ dateLabel }}
  </div>

  <div [class.is-invalid]="isInvalid && (isDirty || isTouched) && hasFeedback">
    <ng-container *ngIf="hasFeedback">
      <div *ngIf="isInvalid && (isDirty || isTouched)" class="invalid-feedback">
        <ng-container *ngIf="hasErrorRequired">{{
          'The field is required' | translate
        }}</ng-container>
      </div>
      <div *ngIf="!(isInvalid && (isDirty || isTouched))" class="feedback">
        {{ 'The field is valid' | translate }}
      </div>
    </ng-container>
  </div>
</div>

<ng-template #date>
  <app-modal (decline)="confirm()">
    <ng-container [formGroup]="form">
      <p-calendar
        [formControlName]="name"
        [styleClass]="
          (isInvalid && (isDirty || isTouched) ? 'is-invalid ' : '') +
          (isLoading ? 'is-disabled' : '')
        "
        [locale]="locale"
        [readonlyInput]="isLoading"
        [inputStyleClass]="
          isInvalid && isTouched && hasFeedback
            ? 'form-control is-invalid'
            : 'form-control'
        "
        [minDate]="today"
        dateFormat="dd.mm.yy"
        selectionMode="range"
        [inline]="true"
      ></p-calendar>
    </ng-container>
  </app-modal>
</ng-template>
