<app-modal>
  <div class="p-4">
    <button type="button" class="btn btn-primary btn-block" (click)="take()">
      {{ 'Take a photo' | translate }}
    </button>
    <button
      type="button"
      class="btn btn-outline-primary btn-block"
      (click)="choose()"
    >
      {{ 'Select from gallery' | translate }}
    </button>
    <button
      type="button"
      class="btn btn-light btn-block mt-4"
      (click)="decline()"
    >
      {{ 'Cancel' | translate }}
    </button>
  </div>
</app-modal>
