<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'Meetings' | translate }}</ion-title>
    <ion-buttons *ngIf="($meetings | async).loading" slot="end">
      <ion-button [disabled]="true">
        <ion-spinner color="dark" class="small-spinner"></ion-spinner>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-connection></app-connection>
  <ng-container *ngIf="$meetings | async as meetings">
    <section class="d-flex flex-column minh-100">
      <ng-container *ngIf="meetings.meetingInvitations.length > 0">
        <div class="label text-muted">{{ 'Invitations' | translate }}</div>
        <div class="bg-white border-top">
          <app-meeting-invitation-preview
            *ngFor="let invitation of meetings.meetingInvitations"
            [invitation]="invitation"
            (openInvitation)="openInvitation($event)"
          ></app-meeting-invitation-preview>
        </div>
      </ng-container>
      <div *ngIf="meetings; else loading" class="meetings">
        <div
          *ngIf="
            meetings.meetings.length > 0 || meetings.requests.length > 0;
            else empty
          "
          class="py-3"
          [class.disabled]="meetings.loading"
        >
          <div
            class="meetings"
            *ngIf="meetings.meetings.length > 0"
            [class.has-sibling]="meetings.requests.length > 0"
          >
            <div
              class="text-center mb-3"
              [innerText]="'Meetings you participate' | translate"
            ></div>
            <div
              *ngFor="let meeting of meetings.meetings"
              [routerLink]="['/app/meetings/details', meeting.id]"
              class="d-flex align-items-center mb-1 item"
            >
              <div class="py-3 pl-3">
                <div>
                  <span class="font-weight-bold">{{ 'Date' | translate }}</span
                  >: {{ meeting.date | date: 'dd.MM.yyyy' }}
                </div>
                <div>
                  <span class="font-weight-bold">{{ 'City' | translate }}</span
                  >: {{ meeting.city }}
                </div>
                <div>
                  <span class="font-weight-bold">{{
                    'People' | translate
                  }}</span
                  >:
                  {{ getGroup(meeting.groupId, meetings.groups).users.length }}
                  /
                  {{ meeting.size }}
                  <ion-icon
                    *ngIf="meeting.isHidden; else notHidden"
                    name="lock"
                    class="icon-hidden align-middle"
                  ></ion-icon>
                  <ng-template #notHidden>
                    <ion-icon
                      name="unlock"
                      class="icon-hidden align-middle"
                    ></ion-icon>
                  </ng-template>
                </div>
                <div>
                  <span class="font-weight-bold">{{
                    'Activity' | translate
                  }}</span
                  >: {{ meeting.activity.name | translate }}
                </div>
              </div>
              <button
                type="button"
                class="icon text-primary ml-auto align-self-stretch px-3 d-flex align-items-center"
                [disabled]="meetings.loading"
              >
                <ion-icon name="arrow-forward" class="d-block"></ion-icon>
              </button>
            </div>
          </div>
          <div class="requests" *ngIf="meetings.requests.length > 0">
            <div
              class="text-center mb-3"
              [innerText]="'Requests created by you' | translate"
            ></div>
            <div
              *ngFor="let request of meetings.requests"
              class="d-flex align-items-center mb-1 item"
            >
              <div class="py-3 pl-3">
                <div>
                  <span class="font-weight-bold">{{ 'Date' | translate }}</span
                  >: {{ getDate(request.minDate, request.maxDate) }}
                </div>
                <div>
                  <span class="font-weight-bold">{{ 'City' | translate }}</span
                  >: {{ request.city }}
                </div>
                <div>
                  <span class="font-weight-bold">{{
                    'Activities' | translate
                  }}</span
                  >:
                  <ng-container
                    *ngFor="let activity of request.activities; let i = index"
                  >
                    <span class="d-inline-block">{{
                      activity.name | translate
                    }}</span>
                    <span *ngIf="i !== request.activities.length - 1">, </span>
                  </ng-container>
                </div>
              </div>
              <button
                type="button"
                class="icon cross text-danger ml-auto align-self-stretch px-3 d-flex align-items-center"
                (click)="removeRequestAlert(request.id)"
                [disabled]="meetings.loading"
              >
                <ion-icon name="close" class="d-block"></ion-icon>
              </button>
            </div>
          </div>
        </div>
        <ng-template #empty>
          <div class="empty m-auto text-center py-3">
            <div class="content container">
              <ion-icon
                name="contacts"
                class="big-icon text-primary"
              ></ion-icon>
              <div class="header">
                {{ "You don't have any meetings yet" | translate }}
              </div>
              <p class="body mt-3 mb-4">
                {{
                  'Go to explore tab and fill your preferences or even create own meeting!'
                    | translate
                }}
              </p>
              <button
                routerLink="/app/tabs/explore"
                class="btn btn-outline-primary px-4"
              >
                {{ 'Explore' | translate }}
              </button>
            </div>
          </div>
        </ng-template>
      </div>
      <ng-template #loading>
        <div class="text-center py-3">
          <ion-spinner></ion-spinner>
        </div>
      </ng-template>
    </section>
  </ng-container>
</ion-content>
