@import '~src/theme/bootstrap/variables';

.profile {
  .image {
    background-size: cover;
    background-color: theme-color('light');
    width: 50px;
    height: 50px;
  }
}

::ng-deep .swiper-wrapper {
  align-items: center;
}

::ng-deep .swiper-pagination-bullets {
  bottom: 0 !important;
}

.slider {
  padding-bottom: 2rem;
}
