<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'Meeting' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="(meeting$ | async) as meeting; else notFound">
    <app-found
      [meeting]="meeting"
      [user]="user$ | async"
      (leaveMeeting)="leaveMeeting()"
    ></app-found>
  </ng-container>
  <ng-template #notFound>
    <ng-container *ngIf="request; else unspecified">
      <app-searching
        [request]="request"
        (removeRequest)="removeRequest()"
      ></app-searching>
    </ng-container>

    <ng-template #unspecified>
      <app-unspecified
        (addMeeting)="addMeeting()"
        (addRequest)="addRequest()"
      ></app-unspecified>
    </ng-template>
  </ng-template>
</ion-content>
