<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'Meeting' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-connection></app-connection>
  <ng-container *ngIf="meeting$ | async as model; else notFound">
    <app-found
      [hidden]="!model.meeting"
      [meeting]="model.meeting"
      [user]="user$ | async"
    ></app-found>
    <app-searching
      [hidden]="model.meeting"
      [request]="model.request"
    ></app-searching>
  </ng-container>
  <ng-template #notFound>
    <app-unspecified></app-unspecified>
  </ng-template>
</ion-content>
