<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'Meetings' | translate }}</ion-title>
    <ion-buttons *ngIf="($meetings | async).loading" slot="end">
      <ion-button [disabled]="true">
        <ion-spinner color="dark" class="small-spinner"></ion-spinner>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-connection></app-connection>
  <ng-container *ngIf="$meetings | async as meeting">
    <div class="d-flex flex-column minh-100 flex-column bg-ultra-light">
      <section class="d-flex flex-grow-1 py-3">
        <div class="my-auto w-100 text-center header container">
          {{ 'My meetings' | translate }}
        </div>
      </section>
      <section class="info border-top bg-white">
        <label
          [innerText]="'More events in the future in your mind?' | translate"
        ></label>
        <button
          routerLink="/app/tabs/explore"
          class="btn btn-primary btn-block"
        >
          Explore meetings
        </button>
      </section>
    </div>
  </ng-container>
</ion-content>
