@import '~src/theme/bootstrap/variables';

.hide {
  transition: margin-bottom 0.15s ease-out;
  transition-delay: 0.15s;

  :host-context(.ios) & {
    margin-bottom: -50px;
  }

  :host-context(.md) & {
    margin-bottom: -56px;
  }
}
