<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{ 'Profile' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="meeting">
      <ion-icon name="cafe"></ion-icon>
      <ion-label>{{ 'Meeting' | translate }}</ion-label>
      <ion-badge
        *ngIf="messagesDifference > 0"
        [innerHTML]="messagesDifference"
      ></ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="more">
      <ion-icon name="more"></ion-icon>
      <ion-label>{{ 'More' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
