:host {
  height: 100%;
}

.modal-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;

  .iframe {
    overflow-y: auto;
    height: calc(100vh - 80px);
    -webkit-overflow-scrolling: touch; // TODO: enabled because of bug in safari (scroll main view instead of iframe)

    iframe {
      margin: 0;
      border: 0;
      padding: 0;
    }
  }
}

:host-context(.ios) {
  .btn-done {
    font-weight: 600;
  }

  .btn-done {
    order: 3;
    margin-left: auto;
    padding-left: 0.25rem;
  }
}

:host-context(.md) {
  .btn-done {
    font-weight: 500;
  }

  .btn-done {
    text-transform: uppercase;
    font-size: 14px;
  }
}

.btn-done,
.btn-cancel {
  cursor: pointer;
}
