<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/app/tabs/settings"
        [text]="'Back' | translate"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Community' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content minh-100 bg-ultra-light">
    <app-connection></app-connection>
    <div class="py-3">
      <button
        type="button"
        (click)="openLink('https://skelvy.com/community/support-us/')"
        class="btn btn-settings"
      >
        {{ 'Support us' | translate }}
        <ion-icon name="arrow-forward" class="icon ml-auto"></ion-icon>
      </button>
      <button
        type="button"
        (click)="openLink('https://skelvy.com/community/help/')"
        class="btn btn-settings"
      >
        {{ 'Help' | translate }}
        <ion-icon name="arrow-forward" class="icon ml-auto"></ion-icon>
      </button>
      <button
        type="button"
        (click)="sendFeedback()"
        class="btn btn-settings justify-content-center mt-3"
      >
        {{ 'Send feedback' | translate }}
      </button>
    </div>
  </div>
</ion-content>
