<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Community' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content minh-100 bg-ultra-light">
    <div class="py-3">
      <button
        type="button"
        (click)="openLink('https://skelvy.com/community/help/')"
        class="btn btn-settings btn-icon"
      >
        {{ 'Help' | translate }}
        <ion-icon name="arrow-forward" class="icon ml-auto"></ion-icon>
      </button>
      <button
        type="button"
        (click)="sendFeedback()"
        class="btn btn-settings mt-3"
      >
        {{ 'Send feedback' | translate }}
      </button>
    </div>
  </div>
</ion-content>
