@import '~src/theme/bootstrap/variables';

.small-spinner {
  transform: scale(0.7);
}

.groups {
  .person {
    padding: 23px 0;
    border-bottom: 1px solid $border-color;
  }

  .image {
    background-size: cover;
    background-color: theme-color('light');
    width: 50px;
    height: 50px;
  }

  .group-name,
  .last-message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .min-width {
    min-width: 0;
  }
}

.empty {
  .header {
    font-size: 1.7rem;
    font-weight: 300;
    max-width: 330px;
  }

  .big-icon {
    font-size: 140px;
  }

  .content {
    max-width: 330px;
  }
}
