<div class="content p-2 w-100" appAutoScroll #content>
  <div
    *ngIf="!isLoading && hasMoreMessages"
    (click)="loadMessages()"
    class="load text-center"
  >
    {{ 'Load more messages' | translate }}
  </div>
  <ng-container *ngFor="let message of messagesWithoutSelfSeen; let i = index">
    <ng-container
      *ngIf="findUser(message.userId) as meetingUser; else anonymous"
    >
      <ng-container *ngIf="message.type === messageType.RESPONSE; else action">
        <app-message-user
          *ngIf="user.id === message.userId; else notMine"
          [message]="message"
          [user]="meetingUser"
          [isLast]="
            i === this.group.messages.length - 1
              ? true
              : this.group.messages[i].userId !==
                  this.group.messages[i + 1].userId ||
                (this.group.messages[i + 1].type === messageType.ACTION &&
                  this.group.messages[i + 1].action === messageActionType.SEEN)
          "
          [isFirst]="
            i === 0
              ? true
              : this.group.messages[i].userId !==
                this.group.messages[i - 1].userId
          "
          [dateToShow]="dateToShow"
          (showDate)="showDate($event)"
          (showActions)="showActions($event)"
          (showPreview)="showPreview($event)"
        ></app-message-user>
        <ng-template #notMine>
          <app-message
            [message]="message"
            [user]="meetingUser"
            [isLast]="
              i === this.group.messages.length - 1
                ? true
                : this.group.messages[i].userId !==
                    this.group.messages[i + 1].userId ||
                  (this.group.messages[i + 1].type === messageType.ACTION &&
                    this.group.messages[i + 1].action ===
                      messageActionType.SEEN)
            "
            [isFirst]="
              i === 0
                ? true
                : this.group.messages[i].userId !==
                  this.group.messages[i - 1].userId
            "
            [dateToShow]="dateToShow"
            (showDate)="showDate($event)"
            (showPreview)="showPreview($event)"
          ></app-message>
        </ng-template>
      </ng-container>
      <ng-template #action>
        <app-message-actions
          [message]="message"
          [user]="meetingUser"
        ></app-message-actions>
      </ng-template>
    </ng-container>
    <ng-template #anonymous>
      <ng-container *ngIf="message.type === messageType.RESPONSE">
        <app-message-anonymous
          [message]="message"
          [isLast]="
            i === this.group.messages.length - 1
              ? true
              : this.group.messages[i].userId !==
                  this.group.messages[i + 1].userId ||
                (this.group.messages[i + 1].type === messageType.ACTION &&
                  this.group.messages[i + 1].action === messageActionType.SEEN)
          "
          [isFirst]="
            i === 0
              ? true
              : this.group.messages[i].userId !==
                this.group.messages[i - 1].userId
          "
          [dateToShow]="dateToShow"
          (showDate)="showDate($event)"
          (showPreview)="showPreview($event)"
        ></app-message-anonymous>
      </ng-container>
    </ng-template>
  </ng-container>
</div>
