<div [class.form-group]="label">
  <label (click)="open()" *ngIf="label" [attr.for]="name">
    {{ label }}
  </label>
  <div
    (click)="open()"
    [className]="
      'form-control form-control-placeholder ' +
      (isInvalid && (isDirty || isTouched) ? 'is-invalid ' : '') +
      (isLoading || loadingLocation ? 'is-disabled' : '')
    "
  >
    {{
      loadingLocation ? ('Determining your location...' | translate) : dateLabel
    }}
    <ion-icon
      name="locate"
      class="geolocation"
      (click)="findCurrentLocation()"
      [class.disabled]="isLoading || loadingLocation"
    ></ion-icon>
  </div>

  <div [class.is-invalid]="isInvalid && (isDirty || isTouched) && hasFeedback">
    <ng-container *ngIf="hasFeedback">
      <div *ngIf="isInvalid && (isDirty || isTouched)" class="invalid-feedback">
        <ng-container *ngIf="hasErrorRequired">
          {{ 'The field is required' | translate }}
        </ng-container>
      </div>
      <div *ngIf="!(isInvalid && (isDirty || isTouched))" class="feedback">
        {{ 'The field is valid' | translate }}
      </div>
    </ng-container>
  </div>
</div>
